* {
    margin: 0;
    padding: 0;

}

body{
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100dvh;
}



.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
}

.header{
    grid-column: 2/3;
    box-shadow: 3px 3px grey ;
   display: grid;
   grid-template-rows: 1fr 1fr; 
}

.main{
    grid-column: 2/3 ;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color:#cbd5e1 ;
    gap: 20px;
    grid-row: 2/3;
}

.top-head{
   
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px ;
}



.cards{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    gap: 20px;
}

.card{
   padding: 20px;
   box-shadow: 3px 3px grey;
    border-radius: 10px;
    color: #020617;
    background-color: #f8fafc;
    border-left: solid 10px black;
    margin-left: 10px;
   
}


.project-pane{
    margin-left: 10px;
}

.project-pane>h3,
.AnT-pane>h3{
    margin-top: 30px;
    margin-bottom: 10px;
}

.AnT-pane{
    display: grid;
}

.AnT-pane>.card{
    margin-right: 10px;
}
 
.logo>ul>li{
    margin-top: 30px ;
    margin-bottom: 50px;
    font-size: 30px;
    margin-left: 10px;
   
}
.basic{
    margin-bottom: 50px;
    
}
.basic>ul>li,
.adv>ul>li{
    margin-left: 20px;
    line-height: 2.5em;
}

ul{
    list-style:none;
}

.sidebar{
    background-color: #020617;
     color: #f8fafc;
    font-size: 20px;
}

img{
  border-radius: 50%;
   width: 40px;
   height: 40px;
}

#big>img{
    width: 80px;
    height: 80px;
}

#big{
    font-size: 30px;
    font-weight: bolder;
}
.search{
    margin-left: 50px;
    margin-top: 20px;
}

.search>i{
    margin-right: 20px; 
   display: flex;
   justify-content: center;
   align-items: center;
 
}

input[type="search"]{
    border-radius: 25px;
    background-color: #cbd5e1;
    appearance: none;
    width: 350px;
    height: 30px;
    display: flex;
    flex: 1 ;
    align-self: center;
}

.profile{
  
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
 
}

.profile > i,
.profile>img{
    margin-right: 30px;
}

.search{
    display: flex;
   justify-content: center;
}

.search>li{
    align-self: center;
}


.bottom-head{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-head>.profile{
   display: flex;
   justify-content: flex-start;
   margin-left: 50px;
}

.action > button{
    background-color: #020617 ;
    color: #f8fafc ;
    padding: 10px 20px;
    border-radius: 25px;
}

.account{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.acc{
    margin-left: 20px;
}

.ann{
    text-decoration: underline;
}

.announcements{
    margin-bottom: 10px;
}

.announcements>div{
    margin-bottom: 10px;
    margin-top: 10px ;
}

.tools{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.fa-star,
.fa-eye{
    margin-right: 20px;
}

.trending-pane{
    margin-bottom: 20px;
}

span{
    font-size: 20px;
    font-weight: lighter;
}